* text=auto

# Vendored (third-party) files
static/admin/* linguist-vendored
static/admin_panel/assets/* linguist-vendored
static/django5_gamestore/asset/* linguist-vendored
static/django5_gamestore/MM/assets/* linguist-vendored
static/django5_gamestore/ChainRules/* linguist-vendored
static/django5_gamestore/FirstFollow/* linguist-vendored
static/django5_gamestore/library/* linguist-vendored

