body {
    margin-top: 20px;
    color: #9b9ca1;
}

.bg-secondary-soft {
    background-color: rgba(208, 212, 217, 0.1) !important;
}

.rounded {
    border-radius: 5px !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.file-upload .square {
    height: 250px;
    width: 250px;
    margin: auto;
    vertical-align: middle;
    border: 1px solid #e5dfe4;
    background-color: #b9b9b9;
    border-radius: 5px;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(208, 212, 217, 0.5) !important;
}

.btn-success-soft {
    color: #28a745;
    background-color: rgba(40, 167, 69, 0.1);
}

.btn-danger-soft {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.1);
}

#profile-btn button:active {
    opacity: 0.85;
}

[data-bs-theme='dark'] #profile-btn button:hover {
    color: white !important
}

[data-bs-theme='light'] #profile-btn button:hover {
    color: black !important
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #29292e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5dfe4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

/*profile*/
#profileImage {
    width: 247px;
    height: 248px;
}

.edit-profile-title {
    color: var(--White)
}

/*.edit-profile-hr {*/
/*    margin-bottom: 37px;*/
/*}*/

/*end profile*/

/*panel dashboard*/
#panel-dashboard div {
    width: 18rem;
}

#panel-dashboard .card-header {
    background-color: rgba(38, 111, 156);
    color: #fff;
}

#panel-dashboard li, #purchase-section li {
    background-color: var(--menu-color);
    border: 0;
}

#panel-dashboard li.active {
    background-color: var(--navbar-hover);
    border: 0;
}

#panel-dashboard li a {
    display: block;
    width: 100% !important;
    overflow: hidden;
    color: #fff !important;
    font-weight: 200;
}

#panel-dashboard li:hover {
    background-color: var(--menu-color-hover);
    transition: background-color 750ms;
}

/*cart*/
#cart-section .img-div img {
    width: 200px;
    height: 150px;
}

#cart-section input[type='number'] {
    width: 65px;
    background-color: #0c1923;
    color: #fff
}

/*products*/

.hr {
    color: transparent;
}

.fa-remove {
    cursor: pointer;
}

#pre-order {
    cursor: pointer;
    opacity: 1 !important;
    background-color: var(--bg-black-low);
    z-index: 999;
    color: var(--mainWhite)
}

#outer {
    background-color: #e9dadf !important;
    background-image: linear-gradient(135deg, #f1e8eb 0%, #dfefee 100%) !important;
}

div.card a {
    text-decoration: none;
    color: var(--mainWhite);
}

#outer .img-div {
    overflow: hidden;
}

#pre-order, small {
    transition: all 1.1s;
    color: var(--mainWhite);
}

#outer:hover #pre-order {
    color: transparent;
    background-color: transparent;
}

#outer:hover #pre-order small {
    color: transparent !important;
}

#outer img {
    transition: all .75s ease-in-out;
}

[data-bs-theme='dark'] #outer img {
    opacity: .9 !important;
}

[data-bs-theme='dark'] #outer {
    /*background-color: #2d556f;*/
    /*background-image: linear-gradient(90deg, #2d556f 0%, #1e4569 100%);*/
    background-color: #1f3a4c !important;
    background-image: linear-gradient(#1f3a4c 0%, #0f2840 100%) !important;
}

[data-bs-theme='light'] div.card a {
    color: var(--Black) !important;
}

/*purchase*/
#purchase-section li {
    color: white !important;
}

#purchase-section a {
    background-color: var(--transparentBlue);
}

#purchase-section a:active {
    opacity: .75;
}

.card-image {
    overflow: hidden;
    object-fit: cover;
    width: border-box;
    height: 175px;
}

@media screen and (max-width: 576px) {
    #cart-section .img-div img {
        width: 100%;
    }

    #outer a {
        width: 100%;
    }
}

.product-discount{
    z-index: 99;
}