html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

.w3-center {
    text-align: center !important
}

.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before,
.w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both
}

.w3-section, .w3-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.w3-large {
    font-size: 25px !important
}

.w3-text-white, .w3-hover-text-white:hover {
    color: #fff !important
}

.w3-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.w3-display-bottommiddle {
    width: 100%;
}

.w3-left {
    float: left !important
}

.w3-right {
    float: right !important
}

.w3-text-khaki, .w3-hover-text-khaki:hover {
    color: #b4aa50 !important
}

.w3-left, .w3-right, .w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

.w3-badge, .w3-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.w3-badge {
    border-radius: 50%
}

.w3-border {
    border: 1px solid #ccc !important
}

.w3-transparent, .w3-hover-none:hover {
    background-color: transparent !important
}

.w3-white, .w3-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}

.detail-slideshow {
    bottom: 6%;
}

/*custom css*/


/*main slideshow*/
.mySlides {
    transition: transform 1s ease, opacity 175ms;
    -moz-transition: transform 1s ease, opacity 175ms;
    top: 8rem;
    z-index: 888;
    width: 100%;
}

.bg_mySlides {
    transition: opacity 175ms linear;
    -moz-transition: opacity 175ms;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    /*animation-name: Zoom;*/
    /*animation-duration: 20000ms;*/
    /*animation-iteration-count: infinite;*/
    /*animation-timing-function: ease;*/
}

@media screen and (max-width: 575px) {
    .bg_mySlides, .top-slideshow {
        height: 60vh !important;
    }
    .mySlides {
        top: 2rem !important;
    }
}

@media screen and (max-width: 1356px) {
    .bg_mySlides, .top-slideshow {
        height: 75vh !important;
    }
}

@media screen and (min-height: 1384px) {
    .bg_mySlides, .top-slideshow {
        height: 50vh !important;
    }

    .mySlides {
        width: 110%;
    }
}

@media screen and (min-height: 1980px) {
    .bg_mySlides, .top-slideshow {
        height: 40vh !important;
    }

    .mySlides {
        width: 140%;
    }
}

/*phone rotate*/
@media screen and (max-height: 500px) and (min-width: 425px ) {
    .bg_mySlides, .top-slideshow {
        height: 112vh !important;
    }

    .mySlides {
        top: 1rem !important;
        width: 70% !important;
    }
}

[data-bs-theme='dark'] .bg_mySlides_main {
    opacity: .3 !important;
}

[data-bs-theme='light'] .bg_mySlides_main {
    opacity: .6 !important;
}

[data-bs-theme='dark'] .mySlides_main {
    filter: brightness(90%);
   /* opacity: .95 !important; */
}

/*[data-bs-theme='light'] .mySlides_main {*/
/*    opacity: .95 !important;*/
/*}*/

.w3-left, .w3-right, .w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

.w3-display-bottommiddle {
    width: 100%;
}

.top-slideshow {
    max-width: 800px;
    height: 100vh;
}

.detail-slideshow {
    bottom: 6%;
}

.detail-slideshow h3 {
    background-color: rgba(19, 19, 19, 0.5);
    padding: 10px;
    border-radius: 10px;
    color: var(--mainWhite) !important;
}

#slide-show {
    background-color: #08111a !important;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 99%, transparent 100%);
}

[data-bs-theme='dark'] #slide-show {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 96%, transparent 100%);

}

.mySlides_main:hover {
    transform: scale(1.03);
    opacity: 1 !important;
    transition: all 1s;
}

@keyframes Zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }

}

/*gallery slide show*/
/* Google Fonts - Poppins */

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');*/

.slide-container {
    max-width: 100vw;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #e9dadf;
    background-image: linear-gradient(135deg, #f1e8eb 0%, #dfefee 100%);
}

[data-bs-theme='dark'] .card {
    background-color: #1f3a4c;
    background-image: linear-gradient(#1f3a4c 0%, #0f2840 100%);
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    transition: all 1s;
    /*overflow: hidden;*/
}

.image-content img {
    transition: all 1s;
}

.card-content {
    /*opacity: 0 !important;*/
    color: #FFF;
    transition: all .25s;
}

.image-content img:hover {
    opacity: 1 !important;
    transition: all 1s;
}

/*.image-content:hover .card-content{*/
/*    opacity: 1 !important;*/
/*    transition: all 1s;*/
/*}*/

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    /*background-color: #FFF;*/
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.card-content a {
    background-color: #134369;
    color: var(--mainWhite) !important;
}

.card-content a:hover {
    background-color: #16507e;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #265DF2;
}

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

[data-bs-theme='dark'] * img {
    opacity: .85;
}

[data-bs-theme='light'] * img {
    opacity: .95;
}

hr:last-of-type {
    color: transparent;
}
